@model List<Proyecto_RRHH__Datos_.Models.Candidatos>
@{
    Layout = "~/Views/Shared/_StartLayout.cshtml";
    List<Proyecto_RRHH__Datos_.Models.EstadosCandidato> sle = ViewBag.estadosd;
    List<Proyecto_RRHH__Datos_.Models.Puestos> slv = ViewBag.vacantesd;
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-success">
                        <h4 class="card-title mt-0">Candidatos</h4>
                        <p class="card-category">Lista de candidatos</p>
                    </div>
                    <form class="navbar-form" asp-action="Index" asp-controller="Candidatos" method="post">
                        <div class="Filters">
                            <div class="form-group col-md-4">
                                <label class="bmd-label-floating">Estados</label>
                                <select class="form-control" name="estado">
                                    @foreach (var item in sle)
                                    {
                                        <option value="@item.Id">@item.Descripcion</option>
                                    }
                                    <option value="">Ninguna</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="bmd-label-floating">Vacante</label>
                                <select class="form-control" name="vacante">
                                    @foreach (var item in slv)
                                    {
                                        <option value="@item.Id">@item.Descripcion</option>
                                    }
                                    <option value="">Ninguna</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </div>

                    </form>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="text-success">
                                <th>Cedula</th>
                                <th>Nombre</th>
                                <th>Puesto al que aspira</th>
                                <th>Salario del puesto</th>
                                <th>Salario al que aspira</th>
                                <th>Estado</th>
                                <th>Recomendado</th>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.Cedula
                                            </td>
                                            <td>
                                                @item.Nombre
                                            </td>
                                            <td>
                                                @item.AspiracionPuestoNavigation.Descripcion
                                            </td>
                                            <td>
                                                @item.AspiracionPuestoNavigation.Salario.ToString("C2")
                                            </td>
                                            <td>
                                                @item.AspiracionSalarial.ToString("C2")
                                            </td>
                                            <td>
                                                @item.EstadoNavigation.Descripcion
                                            </td>
                                            <td>
                                                @item.Recomendado
                                            </td>
                                            <td class="td-actions text-right">
                                                <a rel="tooltip" title="Visualizar" asp-controller="Candidatos" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-primary btn-link btn-sm">
                                                    <i class="material-icons">visibility</i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>